<!-- views/pages/index.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
    <%- include ('../partials/head') %>
</head>
<body class="container">

<header>
    <%- include ('../partials/mainHeader') %>
</header>

<main>
    <div class="jumbotron">
        <h2 class="centerHeader">New account form filler</h2>
        
    	<form class="formTable" action="/register" method="post">
            <div class="formPair">
                <label class="formLabel" for="uname">Username:</label>
                <input class="formInput" type="text" id="uname" name="uname"><br><br>
            </div>
            <div class="formPair">
                <label class="formLabel" for="pword">Password:*</label>
                <input class="formInput" type="password" id="pword" name="pword"><br><br>
            </div>
            <div class="formPair">
                <label class="formLabel" for="email">Email:*</label>
                <input class="formInput" type="email" id="email" name="email"><br><br>
            </div>
            <input type="submit" value="Submit" style="margin-top: 15px">
        </form> 
        </br>
        <div>*Disclaimer: Please create account with test data. Real data can not be protected.</div>
    </div>
</main>

<footer>
    <%- include ('../partials/footer') %>
</footer>

</body>
</html>