<!-- views/pages/index.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
    <%- include ('../partials/head') %>
</head>
<body class="container">

<header>
    <%- include ('../partials/dashboardHeader') %>
</header>

<main>
    <div class="jumbotron">
        <h1>Equipment</h1>
    </br>
        <h2 class="centerHeader">New Equipment form filler</h2>
        <form class="formTable" method="post">
            <div class="formPair">
                <label class="formLabel" for="equipmentName">Equipment Name:</label>
                <input class="formInput" type="text" id="equipmentName" name="equipmentName"><br><br>
            </div>
            <div class="formPair">
                <label class="formLabel" for="type">Type:</label>
                <input class="formInput" type="text" id="type" name="type"><br><br>
            </div>
            <div class="formPair">
                <label class="formLabel" for="weight">Weight:</label>
                <input class="formInput" type="integer" id="weight" name="weight"><br><br>
            </div>
            <div class="formPair">
                <label class="formLabel" for="fuelType">Fuel Type:</label>
                <input class="formInput" type="text" id="fuelType" name="fuelType"><br><br>
            </div>
            <div class="formPair">
                <label class="formLabel" for="purchaseDate">Purchase Date:</label>
                <input class="formInput" type="date" id="purchaseDate" name="purchaseDate"><br><br>
            </div>
            <input type="submit" value="Add Equipment" style="margin-top: 15px">
        </form>         
    </div>
</main>

<footer>
    <%- include ('../partials/footer') %>
</footer>

</body>
</html>